<template>
    <div class="main">
        <ul>
            <li>
                <router-link to="/" class="nav-link">Home</router-link>
            </li>
        </ul>

        <router-view></router-view>
    </div>
</template>

<script setup lang="ts">

</script>

<style scoped lang="scss">
</style>
