:root {
    --c-black: #000;
    --c-black-transparent-020: rgba(0, 0, 0, .2);
    --c-black-transparent-050: rgba(0, 0, 0, .5);

    --c-white: #fff;
    --c-white-transparent-000: rgba(255, 255, 255, .0);
    --c-white-transparent-008: rgba(255, 255, 255, .08);
    --c-white-transparent-012: rgba(255, 255, 255, .12);
    --c-white-transparent-016: rgba(255, 255, 255, .16);
    --c-white-transparent-024: rgba(255, 255, 255, .24);
    --c-white-transparent-040: rgba(255, 255, 255, .4);
    --c-white-transparent-050: rgba(255, 255, 255, .5);
    --c-white-transparent-070: rgba(255, 255, 255, .7);
    --c-white-transparent-080: rgba(255, 255, 255, .8);

    --c-green: #26FF95;
    --c-green-light: #3cc481;
    --c-green-dark: #00DB8C;
    --c-green-light-transparent-016:rgba(38, 255, 149, .16);
    --c-green-light-transparent-032:rgba(38, 255, 149, .32);
    --c-green-bz: #7AA52A;

    --c-gray-blue: #54656f;
    --c-gray-blue-light: #d0dce3;
    --c-gray-blue-lightest: #f3f7f9;
    --c-gray-blue-megium: #7aa2ba;
    --c-gray-blue-dark: #3d4e57;
    --c-gray-blue-darkest: #35424b;
    --c-gray-transparent-032: rgba(25, 25, 25, .32);
    --c-gray-transparent-040: rgba(25, 25, 25, .4);
    --c-gray-light-transparent-032: rgba(243, 240, 250, .32);
    --c-gray-light-transparent-075: rgba(243, 240, 250, .75);
    --c-gray-light: rgba(243, 240, 250);
    --c-gray-darkest: #191919;

    --c-grayish-muted: #a6a6a6;
    --c-grayish-red: #ca4d55;
    --с-orange-red: #f37862;
    --c-red: #FF3434;
    --c-red-transparent-032: rgba(255, 52, 52, .32);
    --c-red-bz: #C22821;

    --c-pink-transparent-020: rgba(245, 78, 209, .2);
    --c-pink-transparent-024: rgba(255, 40, 182, .24);

    --c-purple-transparent-024: rgba(148, 40, 255, .24);
    --c-purple-light-transparent-020: rgba(121, 78, 245, .2);

    --c-blue-light-transparent-020: rgba(78, 215, 245, .2);
}
