:root {
    --z-index-prev-under-page-content: -200;
    --z-index-under-page-content: -100;
    --z-index-page-content: 0;
    --z-index-prev-over-page-content: 250;
    --z-index-over-page-content: 500;
    --z-index-header: 1000;
    --z-index-overlay: 1500;
    --z-index-popup: 2000;
}
